<a href="https://code.angularjs.org/1.3.15/docs/guide/forms">angular form</a>
<form name="formDemo" class="form-group" ng-submit="submit(formDemo)" no-validate>
  <h3>[必填项]</h3>
  <pre>
    &lt;div class=&quot;form-group&quot; ng-class=&quot;{'has-error': formDemo.name.$dirty &amp;&amp; formDemo.name.$invalid}&quot;&gt;
      &lt;label class=&quot;control-label&quot; for=&quot;form-name&quot;&gt;name&lt;/label&gt;
      &lt;input class=&quot;form-control&quot;
             id=&quot;form-name&quot;
             ng-model=&quot;formData.name&quot;
             ng-maxlength=&quot;20&quot;
             name=&quot;name&quot;
             ng-required=&quot;true&quot;&gt;
        &lt;span class=&quot;sr-only&quot;&gt;&lt;/span&gt;
      &lt;/input&gt;
      &lt;div ng-messages=&quot;formDemo.name.$error&quot; ng-show=&quot;formDemo.name.$dirty&quot; class=&quot;bg-danger&quot;&gt;
        &lt;div ng-message=&quot;required&quot;&gt;&#22995;&#21517;&#19981;&#33021;&#20026;&#31354;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </pre>
  <div class="form-group" ng-class="{'has-error': formDemo.name.$dirty && formDemo.name.$invalid}">
    <label class="control-label" for="form-name">name</label>
    <input class="form-control"
           id="form-name"
           ng-model="formData.name"
           ng-maxlength="20"
           name="name"
           ng-required="true">
      <span class="sr-only"></span>
    </input>
    <div ng-messages="formDemo.name.$error" ng-show="formDemo.name.$dirty" class="bg-danger">
      <div ng-message="required">姓名不能为空</div>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': formDemo.age.$dirty && formDemo.age.$invalid}">
    <label class="control-label" for="form-age">age</label>
    <input class="form-control"
           id="form-age"
           ng-model="formData.age"
           name="age"
           ng-pattern="/^\d+$/"
           ng-required="true">
      <span class="sr-only"></span>
    </input>
    <div ng-messages="formDemo.age.$error" ng-show="formDemo.age.$dirty" class="bg-danger">
      <div ng-message="required">年龄不能为空</div>
      <div ng-message="pattern">年龄需为数字</div>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': formDemo.email.$dirty && formDemo.email.$invalid }">
    <label class="control-label" for="form-email">email</label>
    <input class="form-control"
           type="email"
           name="email"
           id="form-email"
           ng-model="formData.email"
           ng-required="true">
      <span class="sr-only"></span>
    </input>
    <div ng-messages="formDemo.email.$error" ng-show="formDemo.email.$dirty" class="bg-danger">
      <div ng-message="required">薪资下限不能为空</div>
      <div ng-message="email">邮件格式错误</div>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': formDemo.hobby.$dirty && formDemo.hobby.$invalid }">
    <label class="control-label" for="form-hobby">hobby(with blacklist)</label>
    <input class="form-control"
           id="form-hobby"
           blacklist="writting,ridding"
           name="hobby"
           ng-model="formData.hobby"
           ng-required="true">
      <span class="sr-only"></span>
    </input>
    <div ng-messages="formDemo.hobby.$error" ng-show="formDemo.hobby.$dirty" class="bg-danger">
      <div ng-message="required">兴趣不能为空</div>
      <div ng-message="blacklist">您的兴趣在黑名单中呢</div>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': formDemo.salaryBottom.$dirty && formDemo.salaryBottom.$invalid }">
    <label class="control-label" for="form-salary-bottom">salary-bottom[需要小于工资上限]</label>
    <input class="form-control"
           ng-pattern="/^\d+$/"
           name="salaryBottom"
           ng-model="formData.salaryBottom"
           id="form-salary-bottom"
           salarylessthan="formData.salaryTop"
           ng-required="true">
      <span class="sr-only"></span>
    </input>
    <div ng-messages="formDemo.salaryBottom.$error" ng-show="formDemo.salaryBottom.$dirty" class="bg-danger">
      <div ng-message="required">薪资下限不能为空</div>
      <div ng-message="pattern">薪资需为非负数值</div>
      <div ng-message="salaryless">薪资下限需要小于上限</div>
    </div>
  </div>

  <pre>
  &lt;div class=&quot;form-group&quot; ng-class=&quot;{'has-error': formDemo.salaryTop.$dirty &amp;&amp; formDemo.salaryTop.$invalid }&quot;&gt;
    &lt;label class=&quot;control-label&quot; for=&quot;form-salary-top&quot;&gt;salary-top[&#38656;&#35201;&#22823;&#20110;&#24037;&#36164;&#19979;&#38480;]&lt;/label&gt;
    &lt;input class=&quot;form-control&quot;
           name=&quot;salaryTop&quot;
           salarylargethan=&quot;formData.salaryBottom&quot;
           id=&quot;form-salary-top&quot;
           ng-model=&quot;formData.salaryTop&quot;
           ng-pattern=&quot;/^\d+$/&quot;
           ng-required=&quot;true&quot;&gt;
      &lt;span class=&quot;sr-only&quot;&gt;&lt;/span&gt;
    &lt;/input&gt;
    &lt;div ng-messages=&quot;formDemo.salaryTop.$error&quot; ng-show=&quot;formDemo.salaryTop.$dirty&quot; class=&quot;bg-danger&quot;&gt;
      &lt;div ng-message=&quot;required&quot;&gt;&#34218;&#36164;&#19978;&#38480;&#19981;&#33021;&#20026;&#31354;&lt;/div&gt;
      &lt;div ng-message=&quot;pattern&quot;&gt;&#34218;&#36164;&#38656;&#20026;&#38750;&#36127;&#25968;&#20540;&lt;/div&gt;
      &lt;div ng-message=&quot;salarylarge&quot;&gt;&#34218;&#36164;&#19978;&#38480;&#38656;&#35201;&#22823;&#20110;&#19979;&#38480;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </pre>

  <div class="form-group" ng-class="{'has-error': formDemo.salaryTop.$dirty && formDemo.salaryTop.$invalid }">
    <label class="control-label" for="form-salary-top">salary-top[需要大于工资下限]</label>
    <input class="form-control"
           name="salaryTop"
           salarylargethan="formData.salaryBottom"
           id="form-salary-top"
           ng-model="formData.salaryTop"
           ng-pattern="/^\d+$/"
           ng-required="true">
      <span class="sr-only"></span>
    </input>
    <div ng-messages="formDemo.salaryTop.$error" ng-show="formDemo.salaryTop.$dirty" class="bg-danger">
      <div ng-message="required">薪资上限不能为空</div>
      <div ng-message="pattern">薪资需为非负数值</div>
      <div ng-message="salarylarge">薪资上限需要大于下限</div>
    </div>
  </div>
  <pre>
    {{ formDemo.salaryTop | json }}
  </pre>


  <div class="form-group" ng-class="{'has-error': formDemo.mobile.$dirty && formDemo.mobile.$invalid}">
    <label class="control-label" for="form-mobile">mobile</label>
    <input class="form-control"
           name="mobile"
           id="form-mobile"
           ng-model="formData.mobile"
           ng-pattern="/^\d{11}$/"
           ng-required="true">
      <span class="sr-only"></span>
    </input>
    <div ng-messages="formDemo.mobile.$error" ng-show="formDemo.mobile.$dirty" class="bg-danger">
      <div ng-message="required">手机号不能为空</div>
      <div ng-message="pattern">手机号格式错误</div>
    </div>
  </div>

  <hr>
  <h3>[非必填项]</h3>
  <div class="form-group">
    <label class="control-label" for="form-address">address</label>
    <input class="form-control"
           id="form-address"
           ng-model="formData.address">
      <span class="sr-only"></span>
    </input>
  </div>
  <pre>
    form demo
    {{ formDemo| json }}
  </pre>
  <pre>
    form data
    {{ formData | json}}
  </pre>
  <pre>
    $scope.submit = function (form) {
      if (form.$valid) {
        alert('do submit');
      } else {
        console.log('not to submit');
      }
    }
    $scope.reset = function (form) {
      if (form) {
        form.$setPristine();
        form.$setUntouched();
      }
      $scope.formData = {};
    }
  </pre>

  <button type="submit" class="btn btn-default" ng-class="">提交</button>
  <button type="button" class="btn btn-default" ng-click="reset(formDemo)">重置</button>
</form>
