<h2>edit</h2>

<pre>
  {{ todo | json }}
</pre>
<form name="restfulForm" ng-submit="update(restfulForm)" no-validate class="form-group">
  <div class="form-group">
    <label for="description" class="form-name">description</label>
    <input type="text"
           ng-model="todo.description"
           class="form-control"
           name="description"> <br>
    <label for="title" class="form-name">title</label>
    <input type="text"
           ng-model="todo.title"
           class="form-control"
           name="title"> <br>
    <label for="done" class="form-name">done</label>
    <input type="checkbox"
           ng-model="todo.done"
           name="done"> <br>
  </div>
  <input type="submit" class="btn btn-default"></button>
</form>

<a ui-sref="rest.list" class="btn btn-default">back to list</a>
